<%= render "/partials/header" %>

<div class="container">

  <div class="row">

    <div class="col-lg-8 col-lg-offset-4">

      <div id="add-cocktail">
        <%= link_to 'add a cocktail', new_cocktail_path %>
      </div>

      <div class="row">

      <% @cocktails.each do |cocktail| %>
        <div class="col-md-6 col-lg-6">
          <div class="cocktails-card" >
            <div class="cocktails-tags">
              tags : gin, fruits, simple
            </div>

            <div class="cocktails-header">
              <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name" %>
              <p> <%= cocktail.directions[0..60]%> </p>
            </div>

          </div>
        </div>
      <% end %>

      </div> <!-- end of row -->

    </div> <!-- end of col -->

  </div> <!-- end of row -->

</div> <!-- end of container -->

<%= render "/partials/footer" %>




