<h3>yay, let's add a new dose to your <%= @cocktail.name %></h3>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :ingredient_id,label: false, placeholder: 'select', collection: @ingredients %>
  <%= f.input :description, label: false, placeholder: 'description' %>
  <%= f.input :details, label: false, placeholder: 'details', wrapper_html: { class: 'fa fa-user' } %>
  <%= f.button :submit, label: false, wrapper_html: { class: 'fa fa-user' } %>
<% end %>
