<h3>yay, let's add a new dose to your <%= @cocktail.name %></h3>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :ingredient_id,label: false, prompt: "Select the ingredient", collection: @ingredients %>
  <%= f.input :description, input_html: { class: 'my_class' }, label: false, placeholder: 'description', wrapper_html: { class: 'fa fa-user' } %>

  <%= f.button :submit, input_html: {class: 'class-test'} %>
<% end %>
